main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#products {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(3, 610px);
    gap: 50px;
    margin: 100px 0;
}

.game-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.game-info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.main-game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-item h1 {
    font-size: 18pt;
    line-height: 2.2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.game-item h3 {
    font-size: 9pt;
}

.game-item h2 {
    margin: 0;
}

.game-item h3 {
    margin: 0;
}

.game-item p {
    font-size: 8pt;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    margin: 0;
}

.game-item img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.game-item button {
    padding: 5px;
}

@media screen and (max-width: 480px) {
    #products {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #products {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    /* #heroVideo {
        margin: 0 0 -24rem 0;
    }
    
    .hero-text {
        margin: -33rem 0 0 0;
    } */
}