main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#products {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: auto;
    gap: 50px;
    margin: 100px 0;
}

.game-item {
    display: flex;
    flex-direction: column;
}

.game-item h1 {
    margin: 0;
    padding: 0;
}

.game-item h1 {
    font-size: 24pt;
}

.game-item h3 {
    font-size: 12pt;
}

.game-item h2 {
    margin: 0;
}

.game-item h3 {
    margin: 0;
}

.game-item p {
    font-size: 8pt;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    margin: 0;
}

.game-item img {
    width: 300px;
    height: auto;
}