@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');
@font-face {
    font-family: akira;
    src: url(akira.otf);
}
body, html {
    margin: 0;
    height: 100%;
    font-family: Poppins;
}

main {
    height: 100vh;
}

.brand-logo {
    font-family: akira;
    font-size: 20pt;
    font-style: italic;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: rgb(60, 60, 60);
}

#brand-logo-go {
    color: rgb(12, 12, 12);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 16px 0 0 0;
    box-shadow: 5px 5px 5px black;
}   

nav ul {
    padding: 0;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px 20px 5px 20px;
    font-family: Poppins;
    color: rgb(39, 39, 39);
    transition: all 0.2s ease;
}

nav ul a {
    transition: all 0.2s ease;
}

nav ul a:hover {
    background-color: rgb(64, 64, 64);
    transition: all 0.2s ease;
}

nav ul li:hover {
    color: rgb(255, 68, 68);
    transition: all 0.2s;
}

nav ul li:active {
    color: #474747;
    transition: all 0.2s;
}

nav ul a:active {
    background-color: #fff;
    transition: all 0.2s;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.nav-wrapper a {
    text-decoration: none;
}

.nav-wrapper button {
    padding: 15px;
    border-radius: 300px;
    border: 1px white solid;
    background: none;
}

#nav-search-bar {
    border-radius: 5px;
    font-family: Poppins;
    padding: 5px 5px 5px 35px;
    margin: 0 15px 0 30px;
    border: none;
    width: 29rem;
    background: url(assets/icons/magnifying-glass-solid.svg) no-repeat 2% 45% rgb(211, 211, 211);
    background-size: 2.5%;
    color: white;
}

#cart-icon {
    width: 23px;  
    padding: 7px;
    height: auto;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin-left: 10px;
}

#user-icon {
    width: 20px;
    height: auto;
    border-radius: 5px;
    padding: 7px;
    transition: all 0.5s ease;
}

#user-icon:hover {
    background: rgb(255, 90, 90);
    transition: all 0.5s ease;
}

#cart-icon:hover {
    background: rgb(255, 90, 90);
    transition: all 0.5s;
}

.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btns p {
    margin: 0;
    color: black;
    font-family: Poppins;
    text-decoration: none;
    margin-left: 10px;
}

.nav-btns p:hover {
    color: rgb(255, 68, 68);
    transition: all 0.5s;
}

.hero-image {
    background-image: linear-gradient(to top right, rgba(115, 115, 115, 0.5) 0%, rgba(0,0,0, 0.80 ) 100%), url(assets/images/sm2-hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#heroVideo {
    width: 100%;
    margin: -15rem 0 -45rem 0;
}

.hero-text {
    display: block;
    padding: 100px;
    z-index: 1;
}

.hero-text img {
    width: 20%;
    height: auto;
}

.hero-text p, button {
    font-family: Poppins;
    font-weight: bold;
}

.hero-text p {
    font-weight: bold;
    color: white;
    font-size: 16pt;
    text-shadow: 1px 1px 5px black;
}

.hero-text button {
    box-shadow: 1px 1px 5px;
}

.hero-text button {
    padding: 10px;
}

footer {
    border-top: 1px solid rgb(211, 211, 211);
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 100px;
}

.footer-section {
    display: block;
    padding: 0 50px;
}

.footer-section h3 {
    align-self: left;
}

.footer-section ul, li {
    align-self: left;
    list-style: none;
    font-size: 11pt;
    padding-left: 0;
}